@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

.sidebar {
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  scrollbar-width: none;
  background: #fff;
  padding: 25px 20px;
  transition: all 0.4s ease;
}

.sidebar:hover .sidebar-links i {
  opacity: 1;
}

.sidebar-header {
  display: flex;
  align-items: center;
}

body {
  display: flex;
  min-height: 100vh;
  background: #e4e9f7;
}

.sidebar-header img {
  width: 40px;
  border-radius: 50%;
}

.sidebar-header h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #707070;
  margin-left: 20px;
}
.sidebar-links {
  list-style: none;
  margin-top: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links li a {
  gap: 0 18px;
  align-items: center;
  display: flex;
  color: #707070;
  font-weight: 500px;
  padding: 35px 20px 35px 7px;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
}

.sidebar-links li a:hover {
  background-color: #695cfe;
  color: #f6f5ff;
  border-radius: 4px;
}

.user-account {
  margin-top: 10px;
  padding: 1px 10px;
  margin-left: -10px;
}

.user-detail {
  margin-left: 10px;
  white-space: nowrap;
}

.user-account .user-profile {
  display: flex;
  align-items: center;
  color: #0093cb;
}

.user-profile img {
  width: 50px;
  border-radius: 50%;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

.main-content {
  flex: 1;
  background-color: #f8f9fa;
  padding: 30px;
  overflow-y: auto;
}

#add-btn {
  padding: 20px 12px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #695cfe;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

#add-btn:hover {
  background-color: #4b3df0;
}

.edit-btn {
  color: white;
  background: rgb(43, 255, 0);
  border: none;
  border-radius: 4px;
  padding: 5px 5px;
  cursor: pointer;
}

.delete-btn {
  color: white;
  background: rgba(255, 30, 30, 0.833);
  border: none;
  border-radius: 4px;
  padding: 5px 5px;
  cursor: pointer;
}

.account-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.account-table th,
.account-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.account-table th {
  background-color: #695cfe;
  color: white;
}

.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border: 1px solid #ccc;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container .save-btn {
  background: #005fd1;
  padding: 10px 30px;
  margin: 10px 10px 10px 0px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-container .cancel-btn {
  background: #d9534f;
  padding: 10px 30px;
  margin: 10px 10px 10px 0px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
